
/* Coolors Exported Palette - coolors.co/a31621-bfdbf7-053c5e-1f7a8c-db222a */

/* RGB */
$danger: rgba(163, 22, 33, 1);
$color2: rgba(191, 219, 247, 1);
$color3: rgba(5, 60, 94, 1);
$color4: rgba(31, 122, 140, 1);
$color5: rgba(219, 34, 42, 1);
$dark: #293132;
$primary: #547AA5;

$button: #151E3F;
$textBlack: #000000;
$textWhite: #ffffff;
//$backgroundSilver: #D3D3D3;
$backgroundSilver: #ececec;
$selectArrow: #151E3F;
$borderBlue: #151E3F;
$borderSilver: #ececec;
$backgroundBlue: #151E3F;
$borderGreen: #116466;
$backgroundGreen: #116466;


$exColor1: #1F2833;
$exColor2: #66FCF1;


$form-container: #42213D;
$form-login-input: #5F506B;
$form-login-button: #5F506B;
$login-container: #C2C1C2;
$dashboard-navigation: #8DB1AB;
